@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'tables';
@import 'text';
@import 'login';

form {
	width: 70%;
	margin: 0 auto;
}

.panel {
	margin-top: 25px;
}
