.form_container {
	margin-left: 50px;
	width: 60%;
}

.bottom_padding {
	margin-bottom: 25px;
}

.auction_title {
	margin-bottom:40px;
	margin-left: 2%;
	border-bottom: 1px solid #eee;
}

.center_form {
	margin: 0 auto;
	width:100%;
}

.right {
	float: right;
}

#notifier {
	float: left;
}

#submit_edited_auction {
	float: right;
}

.add_item_btn {
	margin-top: 10px;
}

/* Extra Small devices */
@media screen and (max-width: 960px) {
	.form_container {
		width: 100%;
		margin: 0 10px;
	}
}