.top_margin {
	margin-top: 20px;
}

img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}

#notifier-success {
	color:#008A00;
	font-size:15px;
	display:none;
}

#notifier-failure {
	color:red;
	font-size:15px;
	display:none;
}