body {
  background: rgba(51,207,255,1);
  background: -moz-linear-gradient(left, rgba(51,207,255,1) 0%, rgba(51,207,255,1) 45%, rgba(182,221,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,207,255,1)), color-stop(45%, rgba(51,207,255,1)), color-stop(100%, rgba(182,221,237,1)));
  background: -webkit-linear-gradient(left, rgba(51,207,255,1) 0%, rgba(51,207,255,1) 45%, rgba(182,221,237,1) 100%);
  background: -o-linear-gradient(left, rgba(51,207,255,1) 0%, rgba(51,207,255,1) 45%, rgba(182,221,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(51,207,255,1) 0%, rgba(51,207,255,1) 45%, rgba(182,221,237,1) 100%);
  background: linear-gradient(to right, rgba(51,207,255,1) 0%, rgba(51,207,255,1) 45%, rgba(182,221,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cfff', endColorstr='#b6dded', GradientType=1 );
}

.container {
  margin-top: 20%;
}

.login {
  max-width: 400px;
  margin: auto;
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 1px 1px #888;
  -webkit-box-shadow: 0 0 1px 1px #888;
  box-shadow: 0 0 1px 1px #888;
  border-radius: 10px; }

.social-box {
  margin: 0 auto;
  padding: 38px 38px 10px;
  border-bottom: 1px #ccc solid; }
  .social-box a {
    font-weight: bold;
    font-size: 18px;
    padding: 6px; }
    .social-box a i {
      font-weight: bold;
      font-size: 20px; }

.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 38px 38px 0px 38px; }

.login-footer {
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 10px; }
  .login-footer a {
    font-size: 14px;
    padding: 2px; }

.mg-btm {
  margin-bottom: 20px; }

